.products {
    width: 60vw;
    height: 80vh;
    background: #000000bf;
    color: white;
    border: 1px solid #ffffff30;
    box-shadow: 8px 12px 150px 5px black;
    border-radius: 2vh;
    flex-direction: column;
    row-gap: 3vh;
}

.products h1 {
    font-size: 2.5rem;
    color: #c84747;
  }

.products h1 span {
    color: white;
}

.card {
    width: 550px;
    height: 350px;
    border-radius: 4px;
    /* background: #000000bf; */
    color: white;
    border: 1px solid #ffffff30;
    box-shadow: 8px 12px 150px 5px black;
    display: flex;
    gap: 5px;
    padding: .4em;
  }
  
  .card p {
    height: 100%;
    flex: 1;
    overflow: hidden;
    cursor: pointer;
    border-radius: 2px;
    transition: all .5s;
    background: transparent;
    border: 1px solid #ff5a91;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .card p:hover {
    flex: 4;
  }
  
  .card p span {
    min-width: 14em;
    padding: .5em;
    text-align: center;
    transform: rotate(-90deg);
    transition: all .5s;
    text-transform: uppercase;
    color: white;
    letter-spacing: .1em;
  }
  
  .card p:hover span {
    color: #ff568e;
    transform: rotate(0);
  }

  .card p img {
    height: 200px;
    width: 200px;
    object-fit: contain;
    display: none;
  }

  .card p input {
    height: 40px;
    width: 150px;
    padding-left: 25px;
    padding-right: 20px;
    background: white;
    color: black;
    border-radius: 2rem;
    display: none;
  }

  .card p:hover img {
    margin-top: -5%;
    display: block;
  }
  .card p:hover img {
    margin-top: -5%;
    display: block;
  }

  .card p:hover input {
    margin-top: 5%;
    display: block;
  }

  .button {
    --width: 120px;
    --height: 35px;
    --tooltip-height: 35px;
    --tooltip-width: 150px;
    --gap-between-tooltip-to-button: 18px;
    --button-color: #ff5a91;
    --tooltip-color: #ff5a91;
    width: var(--width);
    height: var(--height);
    background: var(--button-color);
    position: relative;
    text-align: center;
    border-radius: 2em;
    transition: background 0.3s;
  }
  
  .button::before {
    position: absolute;
    content: attr(data-tooltip);
    width: var(--tooltip-width);
    height: var(--tooltip-height);
    background-color: #ff5a91;
    font-size: 0.9rem;
    color: #fff;
    border-radius: .25em;
    line-height: var(--tooltip-height);
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
    left: calc(50% - var(--tooltip-width) / 2);
  }
  
  .button::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: #ff5a91;
    left: calc(50% - 10px);
    bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
  }
  
  .button::after,.button::before {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
  }
  
  .text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button-wrapper,.text,.icon {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    color: #fff;
  }
  
  .text {
    top: 0
  }
  
  .text,.icon {
    transition: top 0.5s;
  }
  
  .icon {
    color: #fff;
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .icon img {
    width: 22px;
    height: 22px;
  }
  
  .button:hover {
    background: #ff5a91;
  }
  
  .button:hover .text {
    top: -100%;
  }
  
  .button:hover .icon {
    top: 0;
  }
  
  .button:hover:before,.button:hover:after {
    opacity: 1;
    visibility: visible;
  }
  
  .button:hover:after {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
  }
  
  .button:hover:before {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
  }
  
  
  
  