.cart {
    width: 60vw;
    height: 80vh;
    background: #000000bf;
    color: white;
    border: 1px solid #ffffff30;
    box-shadow: 8px 12px 150px 5px black;
    border-radius: 2vh;
    flex-direction: column;
    row-gap: 3vh;
    padding: 5vh 0;
}

.cart h1 {
    font-size: 2.5rem;
    color: #c84747;
  }

.cart h1 span {
    color: white;
}

.orderList {
    width: 60vw;
    height: 70vh;
    background: transparent;
    flex-direction: column;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none; 
    padding: 3vh 0;
    position: relative;
}

.orderList::-webkit-scrollbar {
    display: none;
}

.orderList .order {
    width: 50vw;
    height: 10vh;
    background: transparent;
    background: #c8272780;
    color: #ffffffcf;
    padding-left: 10vh;
}

.orderList .order:last-child {
    border-radius: 0 0 0.6rem 0.6rem;
}

.orderList .title {
    width: 50vw;
    height: 10vh;
    background: transparent;
    background: #c82727;
    border-radius: 0.6rem 0.6rem 0 0;
    padding-left: 10vh;
    position: sticky;
    top: 0;
    left: 0;
    font-size: 1.3rem;
}

 .name {
    width: 20vw;
    height: fit-content;
    background: transparent;
}

 .unit-price {
    width: 8vw;
    height: fit-content;
    background: transparent;
}
 .quantity {
    width: 12vw;
    text-align: center;
    height: fit-content;
    background: transparent;
}

 .total-amount {
    width: 10vw;
    height: fit-content;
    background: transparent;
}

.cart h1.total {
    font-size: 2.5rem;
    color: #c84747;
  }

.cart .money{
    color: #ff568e;
}


.alert {
    width: 350px;
    height: 200px;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    row-gap: 4vh;
    font-size: 1.5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    padding: 10px 20px;
    border-radius: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 999;
}

.close-btn {
    background-color: #ec5966;
    border: none;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
    margin-left: 10px;
}

.close-btn:hover {
    background-color: red;
}

.placeOrder {
    height: 10vh;
    width: 10vw;
    background-color: #59ec6f;
    border: none;
    color: black;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 2rem;
    margin-left: 10px;
}

.placeOrder:hover {
    background-color: green;
}