.login {
    width: 60vw;
    height: 50vh;
    background: #000000bf;
    color: white;
    border: 1px solid #ffffff30;
    box-shadow: 8px 12px 150px 5px black;
    border-radius: 2vh;
    flex-direction: column;
    row-gap: 2vh;
}

.msg {
  height: fit-content;
  flex-direction: column;
  background: transparent;
}

#hello {
  font-size: 4rem;
  color: #c84747;
}

.enter {
    background: #c84747;
    color: white;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #cc4747;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    width: 250px;
    min-width: 250px;
    padding-right: 3.3em;
    cursor: pointer;
  }

  .enter span {
    width: 100%;
    margin-left: 10%;
    text-align: center;
  }
  
  .enter .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #c84747;
    right: 0.3em;
    transition: all 0.3s;
  }
  
  .enter:hover .icon {
    width: calc(100% - 0.6em);
  }
  
  .enter .icon img {
    width: 1.1em;
    transition: transform 0.3s;
    z-index: 99999;
  }
  
  .enter:hover .icon img {
    transform: translateX(0.1em);
  }
  
  .enter:active .icon {
    transform: scale(0.95);
  }

  input {
    width: 250px;
    height: 6vh;
    font-size: 2rem;
    /* color: #c84747; */
    color: white;
    text-align: center;
    background: #00000000;
    border: none;
  }

  input:focus {
    outline: none;
  }

  input:focus::placeholder {
    color: transparent;
  }

  .alert {
    width: 350px;
    height: 200px;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 4vh;
    font-size: 1.5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    padding: 10px 20px;
    border-radius: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 999;
}

.close-btn {
    background-color: #ec5966;
    border: none;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
    margin-left: 10px;
}

.close-btn:hover {
    background-color: red;
}