.welcome {
    width: 60vw;
    height: 50vh;
    background: #000000bf;
    color: #c84747;
    border: 1px solid #ffffff30;
    box-shadow: 8px 12px 150px 5px black;
    border-radius: 2vh;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    cursor: pointer;
}

.welcome h1 {
    margin-top: 10vh;
    font-size: 5.5rem;
}
.welcome p {
    font-size: 2.5rem;
    color: gray;
}


  #arrow {
    margin-top: 5vh;
    border-radius: 50%;
    background: transparent;
    border: none;
   }