* {
  margin: 0;
  box-sizing: border-box;
}

.main {
  width: 100vw;
  height: 100vh;
  overflow:hidden;
  background-image: url('../public/bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: start;
  justify-content: center;
}

.overlay {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #00000050;
}