<!DOCTYPE html>

<head>
	<title>Result</title>
</head>
<style>
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}
</style>

<body>
    <div>
        <h2>Result</h2>
	    <p>GPA for <%= rollno %> is <%= gpa %></p>
    </div>
</body>

</html>